@import url('/src/styles/global.css');

header{
    display: flex;
    align-items: center;
    gap: 239px;
    margin: 0px 59px;
    justify-content: center;
}

header h1{
    font-size: 24px;
}

.nav-header{
    display: flex;
    gap: 240px;
    align-items: center;
}

.nav-header ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-header a{
    text-decoration: none;
    color: var(--color--text--grey);
}



.header-button{
    display: flex;
    gap: 45px;
    margin-top: 19px;
    align-items: center;
    position: relative;
}

.header-Login button{
    background-color: transparent;
    color: var( --color--primary--green);
    cursor: pointer;
}

.header-JOIN-US button{
    display: flex;
    padding: 15px 25px;
    gap: 15px;
    background-color: var(--color--primary--green);
    color: var( --color--light--gray);
    border-radius: 5px;
    justify-content: center;
    cursor: pointer;
}