@import url(../../styles/global.css);


.practice-conteiner{
    display: flex;
}

.practive-content p{
   width: 463px;
}

.practive-content{
   justify-items: center;
}
 
.practive-content h4{
   color: var(--color--primary--green);
}

.courses-conteiner{
  text-align: center;
}
