@import url(../../styles/global.css);

.subscribe{
    background-color: var(--color--dark--background-color);
    padding: 160px 195px;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;

}
/* .newsteller{
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.subscribe p{
    color: var( --color--primary--green);
    margin-bottom: 10px;
    font-family: var(--font--family--bold);
    /* font-weight: bold; */
}
.subscribe h2{
    color: var(--color--neutral--white);
    margin-bottom: 10px;
}
.newsteller-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap:  80px; */
}

input{
    width: 677px;
    height: 58px;
    background-color: var(--color--neutral--white);
    color: var(--color--neutral--black);    
    font-size: var(--font--size--p);
    border-radius: 5px 0px 0px 5px;

}
input::placeholder{
    color: var(--color--text--grey);
    padding: 20px;
   
}
.newsteller-email button{
    width: 117px;
    height: 58px;
    background-color: var(--color--primary--green);
    color: var(--color--neutral--white);
    font-size: var(--font--size--btn--text);
    cursor: pointer;
    position: relative;    
    border-radius: 0px 5px 5px 0px;
}

form{
    display: flex;
    align-items: center;
    background-color: var(--color--neutral--white);
    border-radius: 5px;
    border: 1px solid #E6E6E6;
}