@import url(/src/styles/global.css);

.our-popular-pourses{
    text-align: center;
    padding-top: 81px;
}

.popular-pourses{
    width: 470px;
    margin: 0 auto;
}
.popular-pourses p{
    line-height: 1.5;
    width: 463px;
    color: var(--color--muted--grey);
}

.popular-ourses-img{
    margin-top: 80px;
}